<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png" alt="imagem" width="200">

## `Utilizando Series a partir de Listas:`

In [5]:
import pandas as pd

In [ ]:
notas = pd.Series([7.6 , 5.0, 8.5, 9.5, 6.5])

In [ ]:
lst_nomes = ["Bob", "Dayse", "Bill", "Cris", "Jimi"]

In [ ]:
lst_matriculas = ["M02", "M05", "M13", "M14", "M19"]

In [ ]:
alunos = pd.Series(lst_nomes,index=lst_matriculas)

In [ ]:
print(notas); print("----------------"); print(alunos)

## `Criando Series a partir de Dicionários:`

In [13]:
dic_alunos = {'M02':'Bob','M05':'Dayse','M13':'Bill',
'M14':'Cris','M19':'Jimi'}

In [14]:
alunos = pd.Series(dic_alunos)

In [15]:
alunos

M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

## Propriedades das Series

In [2]:
#P02: Propriedades básicas das Series
import pandas as pd

In [3]:
#cria a Series "alunos"
alunos = pd.Series({'M02':'Bob','M05':'Dayse','M13':'Bill',
'M14':'Cris','M19':'Jimi'})

In [4]:
#atribui nomes p/ os vetores de dados e rótulos
alunos.name = "alunos"
alunos.index.name = "matrículas"

In [5]:
#recupera e imprime as propriedades
alunos

matrículas
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
Name: alunos, dtype: object

* size : tamanho da Series (número de elementos);
* values : vetor de dados;
* index : vetor de rótulos;
* name : nome do vetor de dados;
* index.name : nome do vetor de rótulos;
* index.dtype : dtype do vetor de rótulos.

In [14]:
tamanho = alunos.size
dados = alunos.values
rotulos = alunos.index
alunos_tipo = type(alunos)
alunos_dtype = alunos.dtype
alunos_idx_dtype = alunos.index.dtype

In [15]:
print('número de elementos: ', tamanho)
print('vetor de dados: ', dados)
print('vetor de rótulos: ', rotulos)
print('tipo (type): ', alunos_tipo)
print('dtype da Series:', alunos_dtype)
print('dtype do vetor de rótulos:', alunos_idx_dtype)

número de elementos:  5
vetor de dados:  ['Bob' 'Dayse' 'Bill' 'Cris' 'Jimi']
vetor de rótulos:  Index(['M02', 'M05', 'M13', 'M14', 'M19'], dtype='object')
tipo (type):  <class 'pandas.core.series.Series'>
dtype da Series: object
dtype do vetor de rótulos: object

### `Indexação`

A pandas permite o emprego de três
diferentes técnicas: indexação tradicional, fatiamento e indexação
booleana.

#### Tradicional

exemplo[0]

#### Fatiamento

exemplos[i:j]
exemplos[i:]
exemplos[:j]
exemplos[-k:]
exemplos[i:j:k]
exemplos[[lista]]

#### Booleana

In [7]:
#Indexação booleana
import pandas as pd

In [8]:
#cria as Series "notas" e "alunos"
notas = pd.Series([7.6, 5.0, 8.5, 9.5, 6.4])
alunos = pd.Series({'M02':'Bob','M05':'Dayse','M13':'Bill',
'M14':'Cris','M19':'Jimi'})

In [19]:
#obtém os índices dos alunos aprovados
idx_aprovados = notas[notas >= 7].index

In [20]:
#imprime os alunos aprovados
print('relação de alunos aprovados:')
print('---------------------------')
print(alunos[idx_aprovados])

relação de alunos aprovados:
---------------------------
M02     Bob
M13    Bill
M14    Cris
dtype: object

### `Busca`

O próximo programa mostra como verificar se determinados
rótulos ou valores estão presentes em uma Series.

In [21]:
#P04: Busca em Series
import pandas as pd

In [22]:
#cria a Series "alunos"
alunos = pd.Series({'M02':'Bob','M05':'Dayse','M13':'Bill',
'M14':'Cris','M19':'Jimi'})

In [23]:
#testa se rótulos fazem parte de uma Series
tem_M13 = 'M13' in alunos
tem_M99 = 'M99' in alunos
print("existe o rótulo 'M13'? -> ",tem_M13)
print("existe o rótulo 'M99'? -> ",tem_M99)
print('---------------------------')

existe o rótulo 'M13'? ->  True
existe o rótulo 'M99'? ->  False
---------------------------

In [24]:
#testa se valor faz parte de uma Series
tem_Bob = alunos.isin(['Bob'])
print("existe o valor 'Bob'")
print(tem_Bob)

existe o valor 'Bob'
M02     True
M05    False
M13    False
M14    False
M19    False
dtype: bool

### `Modificação`

No próximo exemplo, apresentamos a forma básica para inserir, modificar e excluir elementos.

In [6]:
#P05: Inserindo, Alterando e Removendo elementos de Series
import pandas as pd

In [7]:
#cria a Series "alunos"
alunos = pd.Series({'M02':'Bob','M05':'Dayse','M13':'Bill',
'M14':'Cris','M19':'Jimi'})

In [8]:
print('Series original:')
print(alunos)

Series original:
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

In [9]:
#insere o aluno de matrícula M55, Rakesh
alunos['M55'] = 'Rakesh'

In [10]:
#altera os nomes Bill, Cris e Jimi para Billy, Cristy e Jimmy
alunos['M13'] = 'Billy'
alunos[['M14','M19']] = ['Cristy','Jimmy']

In [11]:
#remove o aluno de matrícula M02 (Bob)
alunos = alunos.drop('M02')

In [12]:
print('---------------------------')
print('Series após as alterações:')
print(alunos)

---------------------------
Series após as alterações:
M05     Dayse
M13     Billy
M14    Cristy
M19     Jimmy
M55    Rakesh
dtype: object

## `COMPUTAÇÃO VETORIZADA`

In [14]:
#P07: Operações aritméticas com computação vetorizada
import pandas as pd
import numpy as np

In [15]:
#cria as Series s1 e s2
s1 = pd.Series([2,4,6])
s2 = pd.Series([1,3,5])
print('s1:'); print(s1)
print('s2:'); print(s2)

s1:
0    2
1    4
2    6
dtype: int64
s2:
0    1
1    3
2    5
dtype: int64

In [16]:
#efetua as operações aritméticas
print('---------------------------')
print('s1 * 2')
print(s1 * 2)
print('---------------------------')
print('s1 + s2')
print(s1 + s2)
print('---------------------------')
print('raiz quadrada dos elementos de s1')
print(np.sqrt(s1)) #com a Numpy!

---------------------------
s1 * 2
0     4
1     8
2    12
dtype: int64
---------------------------
s1 + s2
0     3
1     7
2    11
dtype: int64
---------------------------
raiz quadrada dos elementos de s1
0    1.414214
1    2.000000
2    2.449490
dtype: float64

### `O valor NaN`

<img src="https://i.imgur.com/2uTUmKD.png" alt="imagem" width="400">

O programa a seguir examina o comportamento da pandas ao
realizar uma operação aritmética (soma) envolvendo estas duas
Series que não possuem os rótulos inteiramente compatíveis.

In [17]:
#P08: o valor NaN
import pandas as pd

In [18]:
verde = pd.Series({'BR':1, 'FR': 0, 'IT':1, 'UK': 0})
azul = pd.Series({'AR':1, 'BR':1, 'FR': 1, 'IT':0, 'UK': 1})

In [58]:
soma = verde + azul
print("soma:")
print(soma)
print('---------------------------')
print("isnull(soma):")
print(pd.isnull(soma))

soma:
AR    NaN
BR    2.0
FR    1.0
IT    1.0
UK    1.0
dtype: float64
---------------------------
isnull(soma):
AR     True
BR    False
FR    False
IT    False
UK    False
dtype: bool

### `ÍNDICES DATETIME`

<img src="https://i.imgur.com/ZQ6TeUF.png" alt="imagem" width="450">

O programa a seguir mostra como podemos criar essa série
temporal, configurando explicitamente o vetor de índices para que
ele possua o tipo data ( dtype datetime64 ). Afinal de contas,
essa é a semântica correta da nossa série de registro temperaturas!

In [22]:
#P09: Índices datetime
import pandas as pd

In [25]:
#(1)-cria a série temporal
dias = ['10/02/2019', '11/02/2019','12/02/2019','13/02/2019',
'14/02/2019','15/02/2019']
temp_max = [31,35,34,28,27,27]
serie_temporal = pd.Series(temp_max,index=dias)

In [26]:
#(2)-converte o tipo do índice para datetime e imprime a série
serie_temporal.index = pd.to_datetime(serie_temporal.index,
format='%d/%m/%Y')
print(serie_temporal)

2019-02-10    31
2019-02-11    35
2019-02-12    34
2019-02-13    28
2019-02-14    27
2019-02-15    27
dtype: int64

### `INDEXAÇÃO HIERÁRQUICA`

<img src="https://i.imgur.com/OERWBbN.png" alt="imagem" width="400">

In [27]:
#P10: Índexação hierárquica
import pandas as pd

In [28]:
moedas = ['Peso', 'Real', 'Euro', 'Euro', 'Libra']
paises = [['América','América','Europa','Europa','Europa'],
['AR','BR','FR','IT','UK']]

In [29]:
paises = pd.Series(moedas, index=paises)

In [30]:
print(paises) #imprime toda a Series
print('----------------------')
print(paises['América']) #{AR: Peso, BR:Real}
print('----------------------')
print(paises[:,'IT']) #{Europa: Euro}
print('----------------------')
print(paises['Europa','IT']) #Euro

América  AR     Peso
         BR     Real
Europa   FR     Euro
         IT     Euro
         UK    Libra
dtype: object
----------------------
AR    Peso
BR    Real
dtype: object
----------------------
Europa    Euro
dtype: object
----------------------
Euro

## `A ESTRUTURA DE DADOS DATAFRAME`

DataFrame é a ED pandas utilizada para representar dados
tabulares em memória, isto é, dados dispostos em linhas e colunas.
Trata-se da ED mais importante para ciência de dados, responsável
por disponibilizar um amplo e sofisticado conjunto de métodos
para a importação e o pré-processamento de grandes bases de
dados.

### COMO CRIAR DATAFRAMES?

<img src="https://i.imgur.com/38mtUTq.png" alt="imagem" width="400">

In [31]:
#cria o DataFrame
dados = {'nome': ['Argentina','Brasil','França','Itália',
'Reino Unido'],
'continente': ['América','América','Europa','Europa',
'Europa'],
'extensao': [2780,8511,644,301,244],
'corVerde': [0,1,0,1,0]
}

In [32]:
siglas = ['AR','BR','FR','IT','UK']
paises = pd.DataFrame(dados,index=siglas)

In [48]:
#imprime o DataFrame
print(paises)

           nome continente  extensao  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Itália     Europa       301         1
UK  Reino Unido     Europa       244         0

Todo DataFrame é um objeto do tipo
pandas.core.frame.DataFrame que possui as seguintes
propriedades básicas:

* shape : formato do DataFrame, ou seja, o seu número de
* linhas ( shape[0] ) e de colunas ( shape[1] );
* index : lista com os rótulos das linhas;
* columns : lista com os rótulos das colunas;
* dtypes : retorna uma Series com os dtypes de cada
* coluna;
* index.dtype : dtype dos rótulos das linhas.

O programa listado a seguir mostra como trabalhar com estas
propriedades.

In [34]:
#P12: Propriedades básicas dos DataFrames
import pandas as pd

In [39]:
#cria o DataFrame
dados = {'nome': ['Argentina','Brasil','França','Itália',
'Reino Unido'],
'continente': ['América','América','Europa','Europa',
'Europa'],
'extensao': [2780,8511,644,301,244],
'corVerde': [0,1,0,1,0]}
siglas = ['AR','BR','FR','IT','UK']
paises = pd.DataFrame(dados,index=siglas)

           nome continente  extensao  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Itália     Europa       301         1
UK  Reino Unido     Europa       244         0

In [60]:
#recupera e imprime as propriedades
print(paises)
print('-------------------------------------------------')
num_linhas = paises.shape[0]
num_colunas = paises.shape[1]
indices = paises.index
colunas = paises.columns
paises_tipo = type(paises)
paises_dtypes = paises.dtypes
paises_idx_dtype = paises.index.dtype
print('número de linhas: ', num_linhas)
print('número de colunas: ', num_colunas)
print('rótulos das linhas: ', indices)
print('rótulos das colunas: ', colunas)
print('tipo (type): ',paises_tipo)
print('dtypes das colunas:\n', paises_dtypes)
print('dtype dos rótulos das linhas:', paises_idx_dtype)

           nome continente  extensao  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Itália     Europa       301         1
UK  Reino Unido     Europa       244         0
-------------------------------------------------
número de linhas:  5
número de colunas:  4
rótulos das linhas:  Index(['AR', 'BR', 'FR', 'IT', 'UK'], dtype='object')
rótulos das colunas:  Index(['nome', 'continente', 'extensao', 'corVerde'], dtype='object')
tipo (type):  <class 'pandas.core.frame.DataFrame'>
dtypes das colunas:
 nome          object
continente    object
extensao       int64
corVerde       int64
dtype: object
dtype dos rótulos das linhas: object

### `TÉCNICAS PARA CONSULTA E MODIFICAÇÃO DE DADOS`
#### Indexação
Utilizamos colchetes [ ] para indexar elementos de um
DataFrame.

Veja que a pandas disponibiliza quatro diferentes
métodos para esta operação: iloc() , iat() , loc() e at() .
Os dois primeiros são utilizados para indexação baseada na
posição da linha (número inteiro), enquanto os dois últimos são
para acessar linhas através de seus rótulos.

#### `INDEX = INDÍCES DAS LINHAS, COLUMN = ÍNDICES DAS COLUNAS`

<img src="https://i.imgur.com/FWjcsQv.png" alt="imagem" width="500">
O fatiamento de DataFrames pode ser realizado com o uso dos
métodos iloc( ) (por posição) e loc( ) (por rótulo).

### `Busca`
O próximo programa mostra:
1. Como verificar se um determinado rótulo de linha ou coluna
existe em um DataFrame;
2. Como verificar se um determinado valor está armazenado
em alguma coluna do DataFrame.

In [22]:
#P13: Busca em DataFrames
import pandas as pd

In [26]:
#cria o DataFrame
dados = {'nome': ['Argentina','Brasil','França','Itália',
'Reino Unido'],
'continente': ['América','América','Europa','Europa',
'Europa'],
'extensao': [2780,8511,644,301,244],
'corVerde': [0,1,0,1,0]}
siglas = ['AR','BR','FR','IT','UK']
paises = pd.DataFrame(dados,index=siglas)

In [27]:
#testa se um dado rótulo de linha existe
tem_BR = 'BR' in paises.index
tem_US = 'US' in paises.index
print("existe o rótulo 'BR? -> ",tem_BR)
print("existe o rótulo 'US'? -> ",tem_US)

existe o rótulo 'BR? ->  True
existe o rótulo 'US'? ->  False

In [28]:
#testa se um dado rótulo de coluna existe
tem_corVerde = 'corVerde' in paises.columns
tem_corAzul = 'corAzul' in paises.columns
print("existe o rótulo 'corVerde? -> ",tem_corVerde)
print("existe o rótulo 'corAzul'? -> ",tem_corAzul)
print('---------------------------')

existe o rótulo 'corVerde? ->  True
existe o rótulo 'corAzul'? ->  False
---------------------------

In [29]:
#testa se valor faz parte de uma coluna
tem_Brasil = paises['nome'].isin(['Brasil'])
print("existe o valor 'Brasil' na coluna 'nome'?")
print(tem_Brasil)

existe o valor 'Brasil' na coluna 'nome'?
AR    False
BR     True
FR    False
IT    False
UK    False
Name: nome, dtype: bool

Para verificar se um rótulo de linha ou de coluna existe em um
DataFrame, você deve aplicar o operador in sobre a lista de
rótulos de linha ou de colunas, respectivamente (propriedades
index e columns ).

### `Modificação`
Este tópico apresenta as técnicas básicas para inserir e alterar
linhas de um DataFrame e para modificar o conteúdo de alguma célula.

In [13]:
#P14: Modificação de DataFrame
import pandas as pd

In [14]:
#cria o DataFrame
dados = {'nome': ['Argentina','Brasil','França','Itália',
'Reino Unido'],
'continente': ['América','América','Europa','Europa',
'Europa'],
'extensao': [2780,8511,644,301,244],
'corVerde': [0,1,0,1,0]}
siglas = ['AR','BR','FR','IT','UK']
paises = pd.DataFrame(dados,index=siglas)

In [15]:
#insere o país Japão (JP)
paises.loc['JP']= {'nome': 'Japão',
'continente': 'Ásia',
'extensao': 372,
'corVerde': 0}

In [16]:
#altera a extensão do Brasil
paises.at['BR','extensao']=8512

In [17]:
#remove a Argentina e o Reino Unido
paises = paises.drop(['AR','UK'])
print('DataFrame após as alterações:')
print(paises)

DataFrame após as alterações:
      nome continente  extensao  corVerde
BR  Brasil    América      8512         1
FR  França     Europa       644         0
IT  Itália     Europa       301         1
JP   Japão       Ásia       372         0

## `TRABALHANDO COM ARQUIVOS`
Tipicamente, os dados dos DataFrames são obtidos a partir de
arquivos ou tabelas de banco de dados.
### `Importação de arquivo CSV`
Podemos realizar a leitura de arquivos CSV (comma-separated values — valores separados por vírgula) e de outros tipos de
arquivos baseados em caracteres delimitadores utilizando o
método read_csv().
A seguir, apresenta-se um
programa que importa o conteúdo do arquivo para um
DataFrame, definindo ainda que a coluna sigla será utilizada
como índice de linha.

In [19]:
#P15: Importação de CSV padrão para um DataFrame
import pandas as pd

`paises = pd.read_csv("c:/bases/paises.csv",index_col="sigla")
print(paises)`

<img src="https://i.imgur.com/DAL6S9u.png" alt="imagem" width="500">
O único parâmetro que
utilizamos foi index_col , para permitir que a coluna sigla
fosse transformada no índice de linha.
O método read_csv() é extremamente flexível, possuindo
uma série de parâmetros que podem ser utilizados para permitir a
importação de arquivos CSV estruturados de diferentes maneiras.
Os principais parâmetros são relacionados e explicados a seguir:
sep : caractere ou expressão regular utilizada para separar
campos em cada linha;

* skiprows : número de linhas no início do arquivo que dvem ser ignoradas;
* skip_footer : número de linhas no final do arquivo que devem ser ignoradas;
* encoding : padrão de codificação do arquivo. A codificação default da pandas é utf-8. Se o seu arquivo estiver codificado no formato ANSI, você deverá utilizar encoding='ansi' . Para obter uma lista completa dos encodings;
* header : número da linha que contém o cabeçalho (default=0). Se não houver cabeçalho, deve-se especificar header=None ou passar uma lista de nomes através do parâmetro names ;
* names : permit especificar uma lista de nomes para as colunas;
* index_col : permite que uma das colunas seja transformada em índice de linhas;
* na_values : sequência de valores que deverão ser substituídos por NA . Útil para transformação de dados;
* thousands : definição do separador de milhar, por exemplo . ou , ;
* squeeze : caso o arquivo CSV possua apenas uma coluna, é possível fazer com que ele seja importado para uma Series em vez de um DataFrame, bastando para isso especificar squeeze=True .