In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from matplotlib import colors
from matplotlib.ticker import PercentFormatter

In [2]:
email = pd.read_csv("emails_processados.csv")

In [3]:
email.drop('Unnamed: 0', axis='columns', inplace=True)

In [4]:
email.head()

,subject,from,date,to,label,thread,dayofweek,timeofday,year,month
0,=?UTF-8?q?Voc=C3=AA_tem_que_ter_estes_itens_em...,offers@wish.com,2021-02-26 11:57:48-03:00,"""=?utf-8?q?Vin=C3=ADcius_Medeiros?="" <viniapnm...",inbox,1692770206194795587,Friday,11.963333,2021,February
1,=?UTF-8?Q?=E3=80=90E-Pal=E3=80=91?=,official@epal.gg,2021-03-06 19:56:44-03:00,viniapnm@gmail.com,inbox,1693525113471893522,Saturday,19.945556,2021,March
2,DSCO is now available!,vsco@official.vsco.co,2021-02-28 21:23:21-03:00,viniapnm@gmail.com,inbox,1692992869753561945,Sunday,21.389167,2021,February
3,=?UTF-8?q?=E2=9A=A1=F0=9F=94=8C_Todo_o_materia...,offers@wish.com,2021-04-24 11:28:52-03:00,"""=?utf-8?q?Vin=C3=ADcius_Medeiros?="" <viniapnm...",inbox,1697932412812193275,Saturday,11.481111,2021,April
4,=?UTF-8?q?=F0=9F=8E=89_Confira_o_que_acabou_de...,offers@wish.com,2021-02-04 10:19:29-03:00,"""=?utf-8?q?Vin=C3=ADcius_Medeiros?="" <viniapnm...",inbox,1690770887097317107,Thursday,10.324722,2021,February

# 1-

In [5]:
anos = email["year"].value_counts()
mes = email["month"].value_counts()
dia = email["dayofweek"].value_counts()
anos.sum()

1159

In [6]:
media = email.value_counts().sum()
mes

March        165
April        145
July         124
August       118
May          108
June         102
February      83
January       81
November      77
December      60
September     49
October       47
Name: month, dtype: int64

In [31]:
meses = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'September', 'August', 'October', 'November', 'December']

In [32]:
total_anos = ("2015", "2016", "2017", "2018", "2019", "2020", "2021")

In [33]:
semanas = ["Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado", "Domingo"]

### Média de emails por ano

In [8]:
ano_2015 = anos[2015]/media
ano_2016 =  anos[2016]/media
ano_2017 =  anos[2017]/media
ano_2018 =  anos[2018]/media
ano_2019 =  anos[2019]/media
ano_2020 =  anos[2020]/media
ano_2021 =  anos[2021]/media

In [28]:
media_anos = (ano_2015, ano_2016, ano_2017, ano_2018, ano_2019, ano_2020, ano_2021)
mediaanos = pd.DataFrame(media_anos, total_anos)
mediaanos[0] = mediaanos[0].round(3)
mediaanos

          0
2015  0.006
2016  0.020
2017  0.018
2018  0.016
2019  0.483
2020  0.325
2021  0.131

### Média de emails por mês

In [24]:
Janeiro = mes["January"]/media
Fevereiro = mes["February"]/media
Março = mes["March"]/media
Abril = mes["April"]/media
Maio = mes["May"]/media
Junho = mes["June"]/media
Julho = mes["July"]/media
Agosto = mes["August"]/media
Setembro = mes["September"]/media
Outubro = mes["October"]/media
Novembro = mes["November"]/media
Dezembro = mes["December"]/media

In [27]:
media_meses = (Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro)
mediameses = pd.DataFrame(media_meses, meses)
mediameses[0] = mediameses[0].round(3)
mediameses

               0
January    0.070
February   0.072
March      0.142
April      0.125
May        0.093
June       0.088
July       0.107
September  0.102
August     0.042
October    0.041
November   0.066
December   0.052

### Média por dias da semana

In [29]:
Segunda = dia["Monday"]/media
Terça = dia["Tuesday"]/media
Quarta = dia["Wednesday"]/media
Quinta = dia["Tuesday"]/media
Sexta = dia["Friday"]/media
Sábado = dia["Saturday"]/media
Domingo = dia["Sunday"]/media

In [35]:
media_semanas = (Segunda, Terça, Quarta, Quinta, Sexta, Sábado, Domingo)
mediasemanas = pd.DataFrame(media_semanas, semanas)
mediasemanas[0] = mediameses[0].round(3)
mediasemanas

             0
Segunda  0.144
Terça    0.150
Quarta   0.147
Quinta   0.150
Sexta    0.141
Sábado   0.144
Domingo  0.133

 # 2-

In [17]:
email["year"].var(ddof=0)

1.0103500310061584

In [18]:
email["year"].std(ddof=0)

1.0051616939608068

# 3-

In [19]:
outlier_year = (np.quantile(email["year"], 0.75)-np.quantile(email["year"], 0.25))/(2*(np.percentile(email["year"], 90)-np.percentile(email["year"], 10)))
outlier_year

0.25

In [20]:
email["year"].describe()

count    1159.000000
mean     2019.451251
std         1.005596
min      2015.000000
25%      2019.000000
50%      2019.000000
75%      2020.000000
max      2021.000000
Name: year, dtype: float64

In [21]:
x = email["month"].value_counts()
x.describe()

count     12.000000
mean      96.583333
std       37.254550
min       47.000000
25%       72.750000
50%       92.500000
75%      119.500000
max      165.000000
Name: month, dtype: float64