# **Projeto de Estatística Aplicada a computação**
## **Aluno:** Vinícius Celestino de medeiros
## **Matrícula:** 202011250014
## **Professor:** Paulo Ribeiro Lins Junior
## **Data:** 21/02/2021

## **1ª Tarefa**

In [1]:
# Importando a biblioteca pandas e fazendo a leitura dos arquivos xlsx com a função read_excel.
import pandas as pd
dados_2019 = pd.read_excel("/home/vinimedeiros/Desktop/Estatistica/Projeto/datatran2019.xlsx")
dados_2020 = pd.read_excel("/home/vinimedeiros/Desktop/Estatistica/Projeto/datatran2020.xlsx")

## **2ª Tarefa**

### A

### O código abaixo apresenta a quantidade de acidentes que ocorreram no ano de 2019 e 2020:

In [2]:
# Printando a quantidades de acidentes no ano de 2019, que corresponde a quantidade de linhas da planilha;
# função shape utilizada para mostrar a quantidade de linhas que corresponde a quantia de acidentes.
print("Acidentes em 2019: 67446")
dados_2019.shape

Acidentes em 2019: 67446

(67446, 30)

In [3]:
# Printando a quantidades de acidentes no ano de 2020 (da mesma forma que no código anterior), que corresponde a quantidade de linhas da planilha;
# função shape utilizada para mostrar a quantidade de linhas que corresponde a quantia de acidentes.
print("Acidentes em 2020: 63447")
dados_2020.shape

Acidentes em 2020: 63447

(63447, 30)

### B

### Agora é mostrado a quantidade de variáveis que é registrado em cada conjunto de dados:

In [4]:
# Utilizando uma função info para ver as variáveis no ano de 2019.
dados_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67446 entries, 0 to 67445
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      67446 non-null  int64
 1   data_inversa            67446 non-null  datetime64[ns]
 2   dia_semana              67446 non-null  object
 3   horario                 67446 non-null  object
 4   uf                      67446 non-null  object
 5   br                      67351 non-null  float64
 6   km                      67351 non-null  float64
 7   municipio               67446 non-null  object
 8   causa_acidente          67446 non-null  object
 9   tipo_acidente           67446 non-null  object
 10  classificacao_acidente  67446 non-null  object
 11  fase_dia                67446 non-null  object
 12  sentido_via             67446 non-null  object
 13  condicao_metereologica  67446 non-null  object
 14  tipo_pista              67446 non-null  object
 15  tracado_via             67446 non-null  object
 16  uso_solo                67446 non-null  object
 17  pessoas                 67446 non-null  int64
 18  mortos                  67446 non-null  int64
 19  feridos_leves           67446 non-null  int64
 20  feridos_graves          67446 non-null  int64
 21  ilesos                  67446 non-null  int64
 22  ignorados               67446 non-null  int64
 23  feridos                 67446 non-null  int64
 24  veiculos                67446 non-null  int64
 25  latitude                67446 non-null  float64
 26  longitude               67446 non-null  float64
 27  regional                67446 non-null  object
 28  delegacia               67446 non-null  object
 29  uop                     64006 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(9), object(16)
memory usage: 15.4+ MB

In [5]:
# Utilizando uma função info para ver as variáveis no ano de 2019.
dados_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63447 entries, 0 to 63446
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      63447 non-null  int64
 1   data_inversa            63447 non-null  datetime64[ns]
 2   dia_semana              63447 non-null  object
 3   horario                 63447 non-null  object
 4   uf                      63447 non-null  object
 5   br                      63292 non-null  float64
 6   km                      63292 non-null  float64
 7   municipio               63447 non-null  object
 8   causa_acidente          63447 non-null  object
 9   tipo_acidente           63447 non-null  object
 10  classificacao_acidente  63447 non-null  object
 11  fase_dia                63447 non-null  object
 12  sentido_via             63447 non-null  object
 13  condicao_metereologica  63447 non-null  object
 14  tipo_pista              63447 non-null  object
 15  tracado_via             63447 non-null  object
 16  uso_solo                63447 non-null  object
 17  pessoas                 63447 non-null  int64
 18  mortos                  63447 non-null  int64
 19  feridos_leves           63447 non-null  int64
 20  feridos_graves          63447 non-null  int64
 21  ilesos                  63447 non-null  int64
 22  ignorados               63447 non-null  int64
 23  feridos                 63447 non-null  int64
 24  veiculos                63447 non-null  int64
 25  latitude                63447 non-null  float64
 26  longitude               63447 non-null  float64
 27  regional                63447 non-null  object
 28  delegacia               63447 non-null  object
 29  uop                     63048 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(9), object(16)
memory usage: 14.5+ MB

### C

### Agora, o código a seguir apresenta as cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais:

In [6]:
# Primeiro filtrando os dados pelo róturo 'municipio' utilizando a função values_counts;
# Função head utilizada para printar as 5 primeiras linhas, que corresponde as 5 cidades onde mais ocorreram acidentes;
# Variável muni2019 e muni2020 criada para armazenar as 5 primeiras linhas de dados do rótulo 'municipio';
muni2019 = dados_2019['municipio'].value_counts().head()
muni2020 = dados_2020['municipio'].value_counts().head()
# Somando as variáveis muni2019 e muni2020 para obter uma nova variável com os dados dos dois anos.
total = muni2019 + muni2020
total.sort_values(ascending=False).head()

BRASILIA     2130.0
CURITIBA     2039.0
SAO JOSE     1448.0
GUARULHOS    1356.0
PALHOCA         NaN
Name: municipio, dtype: float64

### D

### Código criado para gerar a quantidade de feridos graves na Paraíba

In [7]:
# Criando a variável "feridos" para puxar os dados do rótulo "feridos_graves" que são maiores ou iguais a 1;
feridos = dados_2019["feridos_graves"] >= 1
# Agora uma nova variável para pegar os valores obtidos em "feridos";
feridos_ = dados_2019[feridos]
# Variável "feridospb" responsável por armazenar os dados da Paraíba;
feridospb = feridos_['uf'] == 'PB'
# Finalizando criando uma nova variável para armazenar os valores anteriores;
final = feridos_[feridospb]
# Printando o valor final utilizando a função shape[0] para agrupar a quantidade de linhas e colunas.
print("Feridos graves na Paraíba:", final.shape[0])

Feridos graves na Paraíba: 414

## **3ª Tarefa**

### A

### Agora é criado um novo Dataframe, salvo com a terminação .csv.
### Em seguida, é gerado um ranking de acidentes por estados em ambos os anos.

In [8]:
# Duas variáveis novas para armazenar os dados do rótulo "uf" (estados);
acidentes_estado2019 = dados_2019["uf"].value_counts()
acidentes_estado2020 = dados_2020["uf"].value_counts()
# Soma dos dados por estado de 2019 e 2020;
acidentes_total = acidentes_estado2019 + acidentes_estado2020
# Renomeando a série para "total_acidentes" com a função name;
acidentes_total.name = 'total_acidentes'
# Filtrando pelo rótulo "uf" com a função index.name;
acidentes_total.index.name = 'uf'
# Organizando os valores com a função sort_values ...
acidentes_total.sort_values(inplace = True, ascending=True) 
# Criando uma novo dataframe com uma nova variável chamada acidentestotal_df;
acidentestotal_df = pd.DataFrame(acidentes_total)
# Salvando o arquivo em csv com a função to_csv;
acidentestotal_df.to_csv("/home/vinimedeiros/Desktop/Estatistica/Projeto/Arquivo.csv")
# Lendo o arquivo csv com a função read_csv;
acidentestotal = pd.read_csv("/home/vinimedeiros/Desktop/Estatistica/Projeto/Arquivo.csv")
# Fazendo o rank de acitentes totais com a função rank e usando o method=min para caso haja empate; 
resultados = acidentestotal['total_acidentes'].rank(method="min")
# Printando a tabela final com o total de acidentes por estado.
acidentestotal

    uf  total_acidentes
0   AM              238
1   AP              283
2   RR              487
3   AC              554
4   TO             1115
5   SE             1186
6   AL             1257
7   PA             1776
8   DF             2130
9   MA             2226
10  PI             2546
11  RN             2770
12  PB             2965
13  MS             2974
14  RO             3018
15  CE             3263
16  MT             4326
17  PE             5293
18  ES             5372
19  GO             6580
20  BA             6914
21  SP             8417
22  RS             8771
23  RJ             8828
24  PR            14876
25  SC            15645
26  MG            17083

### B

### Agora, a função do código a seguir é apresentar os acidentes por dia da semana para os anos de 2019 e 2020.

In [9]:
# Duas variáveis criadas para os anos de 2019 e 2020, para filtrar os dados do rótulo "dia_semana" com a função value_counts;
semanas2019 = dados_2019["dia_semana"].value_counts()
semanas2020 = dados_2020["dia_semana"].value_counts()
# criando uma variável para somar os dados de 2019 e 2020;
semanas = semanas2019 + semanas2020
# Renomeando a Serie para "dias_semana com a função name";
semanas.name = 'dias_semana'
# Filtrando o rótulo "dia_semana" com a função index.name;
semanas.index.name = 'dia_semana'
# Organizando os valores com a função sort_values ...
semanas.sort_values(inplace = True,ascending=True) 
# Criando uma novo dataframe com uma nova variável chamada semanas_df;
semanas_df = pd.DataFrame(semanas)
# Salvando o arquivo em csv com a função to_csv;
semanas_df.to_csv("/home/vinimedeiros/Desktop/Estatistica/Projeto/semanas.xlsx")
# Lendo o arquivo csv com a função read_csv;
semanastotal = pd.read_csv("/home/vinimedeiros/Desktop/Estatistica/Projeto/semanas.xlsx")
# Fazendo o rank de acitentes totais com a função rank e usando o method=min para caso haja empate; 
resultados = semanastotal['dias_semana'].rank(method="min")
# Printando a tabela final com o total de acidentes por dias da semana.
semanastotal

      dia_semana  dias_semana
0    terça-feira        16177
1   quarta-feira        16516
2   quinta-feira        16981
3  segunda-feira        17638
4    sexta-feira        20131
5        domingo        21706
6         sábado        21744

## **4ª Tarefa**

### O código a seguir apresenta a causa mais frequente e rara de acidentes registrados em 2019 e 2020.

### A

In [10]:
# Filtrando os dados na coluna "causa acidente em ambos os anos".
freq2019 = dados_2019['causa_acidente'].value_counts() 
freq2020 = dados_2020['causa_acidente'].value_counts()

In [11]:
# Buscando os 3 primeiros valores encontrados em 2019
print("2019:")
freq2019.head(3)
# Falta de Atenção à Condução como valor mais frequente (24992)

2019:

Falta de Atenção à Condução                          24992
Desobediência às normas de trânsito pelo condutor     8098
Velocidade Incompatível                               6028
Name: causa_acidente, dtype: int64

In [12]:
# Buscando os 3 primeiros valores encontrados em 2020;
print("2020:")
freq2020.head(3)
# Falta de Atenção à Condução como valor mais frequente (22414).

2020:

Falta de Atenção à Condução                          22414
Desobediência às normas de trânsito pelo condutor     8801
Velocidade Incompatível                               5878
Name: causa_acidente, dtype: int64

In [13]:
# Calculando a soma dos valores de 2019 e 2020 da causa de acidentes mais ocorrida.
freqtotal = freq2019["Falta de Atenção à Condução"] + freq2020["Falta de Atenção à Condução"]

In [14]:
# Buscando os 3 últimos valores encontrados em 2019;
freq2019.tail(3)
# Ingestão de Substâncias Psicoativas como o valor mais raro (94).

Fenômenos da Natureza                                                             230
Deficiência ou não Acionamento do Sistema de Iluminação/Sinalização do Veículo    160
Ingestão de Substâncias Psicoativas                                                94
Name: causa_acidente, dtype: int64

In [15]:
# Buscando os 3 últimos valores encontrados em 2020.
freq2020.tail(3)

Afundamento ou ondulação no pavimento                             1
Ausência de sinalização                                           1
Ingestão de álcool ou de substâncias psicoativas pelo pedestre    1
Name: causa_acidente, dtype: int64

In [16]:
# Printando primeiro as causas mais frequêntes e depois as mais raras em 2019 e 2020
print("Causa mais frequente de acidentes em 2019:",freq2019.index[0], "com",freq2019[0],"vítimas")
print("Causa mais frequente de acidentes em 2020:",freq2020.index[0],"com",freq2020[0],"vítimas")
print("Causa mais frequente de acidentes em 2019 e 2020:",freq2019.index[0],"com",freqtotal,"vítimas")
print("Causa mais rara no ano de 2019:", freq2019.index[-1],"com",freq2019[-1],"vítimas")
print("Causa mais rara no ano de 2020:", freq2020.index[-1],"com",freq2020[-1],"vítima")

Causa mais frequente de acidentes em 2019: Falta de Atenção à Condução com 24992 vítimas
Causa mais frequente de acidentes em 2020: Falta de Atenção à Condução com 22414 vítimas
Causa mais frequente de acidentes em 2019 e 2020: Falta de Atenção à Condução com 47406 vítimas
Causa mais rara no ano de 2019: Ingestão de Substâncias Psicoativas com 94 vítimas
Causa mais rara no ano de 2020: Ingestão de álcool ou de substâncias psicoativas pelo pedestre com 1 vítima

### B

### O código a seguir apresenta a proporção de pessoas ilesas e de feridos graves por mês em 2019 e 2020

## 2019 ilesos

In [17]:
pessoas_ilesas = dados_2019["ilesos"] >= 1

In [18]:
ilesos = dados_2019[pessoas_ilesas]

In [51]:
ilesos2019 = []
for i in range(1,13):
    data = ilesos[pd.DatetimeIndex(ilesos.data_inversa).month==i]
    data_ilesos = data["ilesos"].sum()
    ilesos2019.append(data_ilesos)
print(ilesos2019)

[5562, 5004, 5878, 5327, 5312, 5683, 6260, 5544, 5761, 5836, 5886, 6581]

## 2019 feridos

In [97]:
graves = dados_2019["feridos_graves"] >= 1

In [98]:
feridosgraves = dados_2019[graves]

In [99]:
feridos2019 = []
for i in range(1,13):
    data2 = feridosgraves[pd.DatetimeIndex(feridosgraves.data_inversa).month==i]
    data_feridos = data2["feridos_graves"].sum()
    feridos2019.append(data_feridos)
print(feridos2019)

[1485, 1260, 1555, 1358, 1545, 1631, 1672, 1566, 1514, 1669, 1535, 1783]

## 2020 ilesos

In [55]:
pessoasilesas2020 = dados_2020["ilesos"] >= 1

In [56]:
ilesos2020 = dados_2020[pessoasilesas2020]

In [57]:
lista_ilesos = []
for i in range(1,13):
    data_ilesos2020 = ilesos2020[pd.DatetimeIndex(ilesos2020.data_inversa).month==i]
    data2020 = data_ilesos2020["ilesos"].sum()
    lista_ilesos.append(data2020)
print(lista_ilesos)

[5847, 5537, 4320, 3155, 4040, 4425, 4933, 5451, 5484, 5954, 5477, 6175]

## 2020 feridos

In [58]:
graves2020 = dados_2020["feridos_graves"] >= 1

In [59]:
feridosgraves2020 = dados_2020[graves2020]

In [60]:
feridos2020 = []
for i in range(1,13):
    dataferidos2020 = feridosgraves2020[pd.DatetimeIndex(feridosgraves2020.data_inversa).month==i]
    data_feridos2020 = dataferidos2020["feridos_graves"].sum()
    feridos2020.append(data_feridos2020)
print(feridos2020)

[1512, 1468, 1211, 987, 1166, 1211, 1261, 1530, 1545, 1730, 1613, 1822]

## TOTAL ENVOLVIDOS EM ACIDENTES 2019

In [104]:
total2019 = dados_2019["pessoas"] >= 1

In [68]:
totalpessoas2019 = dados_2019[total2019]

In [72]:
total_2019 = []
for i in range(1,13):
    total_pessoas2019 = totalpessoas2019[pd.DatetimeIndex(totalpessoas2019.data_inversa).month==i]
    total_pessoas_2019 = total_pessoas2019["pessoas"].sum()
    total_2019.append(total_pessoas_2019)
print(total_2019)

[13111, 11799, 13569, 12815, 12795, 13411, 14331, 13421, 13682, 13931, 13823, 15585]

## TOTAL ENVOLVIDOS EM ACIDENTES 2020

In [90]:
total2020 = dados_2020["pessoas"] >= 1

In [91]:
totalpessoas2020 = dados_2020[total2020]

In [92]:
total_2020 = []
for i in range(1,13):
    total_pessoas2020 = totalpessoas2020[pd.DatetimeIndex(totalpessoas2020.data_inversa).month==i]
    total_pessoas_2020 = total_pessoas2020["pessoas"].sum()
    total_2020.append(total_pessoas_2020)
print(total_2020)

[14070, 13183, 10772, 8380, 10068, 10449, 11622, 12871, 13171, 14480, 13435, 14971]

## PROPORCAO ILESOS 2019

In [93]:
lista_proporcao_ilesos2019 = []
for i in range(12):
    proporcao2019 = ilesos2019[i]/total_2019[i]
    lista_proporcao_ilesos2019.append("{:.2f}".format(proporcao2019))
print(lista_proporcao_ilesos2019)

['0.42', '0.42', '0.43', '0.42', '0.42', '0.42', '0.44', '0.41', '0.42', '0.42', '0.43', '0.42']

## PROPORCAO ILESOS 2020

In [95]:
lista_proporcao_ilesos2020 = []
for i in range(12):
    proporcao2020 = lista_ilesos[i]/total_2020[i]
    lista_proporcao_ilesos2020.append("{:.2f}".format(proporcao2020))
print(lista_proporcao_ilesos2020)

['0.42', '0.42', '0.40', '0.38', '0.40', '0.42', '0.42', '0.42', '0.42', '0.41', '0.41', '0.41']

## PROPORCAO GRAVES 2019

In [101]:
lista_graves_2019 = []
for i in range(12):
    proporcao_graves_2019 = feridos2019[i]/total_2019[i]
    lista_graves_2019.append("{:.2f}".format(proporcao_graves_2019))
print(lista_graves_2019)

['0.11', '0.11', '0.11', '0.11', '0.12', '0.12', '0.12', '0.12', '0.11', '0.12', '0.11', '0.11']

## PROPORCAO GRAVES 2020

In [107]:
lista_graves_2020 = []
for i in range(12):
    proporcao_graves_2020 = feridos2020[i]/total_2020[i]
    lista_graves_2020.append("{:.2f}".format(proporcao_graves_2020))
print(lista_graves_2020)

['0.11', '0.11', '0.11', '0.12', '0.12', '0.12', '0.11', '0.12', '0.12', '0.12', '0.12', '0.12']

In [120]:
meses = ["jan", "fev", "mar","abr", "mai", "jun", "jul", "ago", "set", "out", "nov", "dez"]

In [ ]:
listatotalilesos2019 = pd.DataFrame(lista_graves_2019,index=meses)
listatotalilesos2019

# ILESOS 2019

In [126]:
listatotalilesos2019 = pd.DataFrame(lista_proporcao_ilesos2019,index=meses)
listatotalilesos2019

        0
jan  0.42
fev  0.42
mar  0.43
abr  0.42
mai  0.42
jun  0.42
jul  0.44
ago  0.41
set  0.42
out  0.42
nov  0.43
dez  0.42

# Graves 2019

In [124]:
listatotalgraves2019 = pd.DataFrame(lista_graves_2019,index=meses)
listatotalgraves2019

        0
jan  0.11
fev  0.11
mar  0.11
abr  0.11
mai  0.12
jun  0.12
jul  0.12
ago  0.12
set  0.11
out  0.12
nov  0.11
dez  0.11

# ILESOS 2020

In [125]:
listatotalilesos2020 = pd.DataFrame(lista_proporcao_ilesos2020,index=meses)
listatotalilesos2020

        0
jan  0.42
fev  0.42
mar  0.40
abr  0.38
mai  0.40
jun  0.42
jul  0.42
ago  0.42
set  0.42
out  0.41
nov  0.41
dez  0.41

# GRAVES 2020

In [127]:
listatotalgraves2020 = pd.DataFrame(lista_graves_2020,index=meses)
listatotalgraves2020

        0
jan  0.11
fev  0.11
mar  0.11
abr  0.12
mai  0.12
jun  0.12
jul  0.11
ago  0.12
set  0.12
out  0.12
nov  0.12
dez  0.12

### C