In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
dados1 = pd.read_csv("https://raw.githubusercontent.com/joaovictornsv/statistics-applied-to-computing/master/college-studies/data/dados1.csv", encoding="utf-8", sep =";", header=None, decimal=",")
dados2 = pd.read_csv("https://raw.githubusercontent.com/joaovictornsv/statistics-applied-to-computing/master/college-studies/data/dados2.csv", encoding="utf-8", sep =";")
dados3 = pd.read_excel("https://github.com/vinimedeiros13/Statistic/blob/main/Exerc%C3%ADcios/Unidade2/dados3.xls?raw=true")

In [22]:
def dist_frequencia_classes(entrada, nc='auto'):
    
    freq_absoluta,classes= np.histogram(entrada, bins=nc) 
    freq_absoluta = freq_absoluta.astype(int)
    freq_relativa = np.around(freq_absoluta/freq_absoluta.sum()*100,decimals=2)
    feeq_classe = np.cumsum(freq_absoluta).astype(int) 
    
    classe_str = []
    for i in range(len(classes)):
        if i <= len(classes)-2:
            classe_str.append('{:2.2f} |-- {:2.2f}' .format(classes[i],classes[i+1]))
        else:
            break        
     
    return pd.DataFrame({'Classes':classe_str, 
                         'freq Absoluta': freq_absoluta,
                         'freq Relativa': freq_relativa,
                         'Cumulativa': feeq_classe
                        }).set_index('Classes')

<hr>

## 1-

In [23]:
dados = dados1.values.reshape(-1)

In [24]:
lista_alunos = []
for i in range(1,101):
    lista_alunos.append(f"ALuno {i}")

In [26]:
dic_1 = {"Aluno": lista_alunos, "Notas": dados}
xxx = pd.DataFrame(dic_1)

In [27]:
dist_frequencia_classes(xxx["Notas"])

                freq Absoluta  freq Relativa  Cumulativa
Classes
1.50 |-- 2.44               1            1.0           1
2.44 |-- 3.39               7            7.0           8
3.39 |-- 4.33              11           11.0          19
4.33 |-- 5.28              15           15.0          34
5.28 |-- 6.22              24           24.0          58
6.22 |-- 7.17              17           17.0          75
7.17 |-- 8.11              16           16.0          91
8.11 |-- 9.06               5            5.0          96
9.06 |-- 10.00              4            4.0         100

<hr>

## 2- a)

#### Bairro = Qualitativa nominal
#### Tipo = Qualitativa nominal
#### N de quartos = Quantitativa discreta
#### Preço = Quantitativa contínua

<hr>

## B)

## **Frequências:**

#### Frequência da variável `Bairro`:

In [ ]:
freq_re = dados2["Bairro"].value_counts(normalize=True)*100

freq_bairro = {"Freq Absoluta": dados2["Bairro"].value_counts(), 
       "Freq Relativa %": dados2["Bairro"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados2["Bairro"].value_counts())}
freqbairro = pd.DataFrame(freq_bairro)
freqbairro

#### Frequência da variável `Tipo`:

In [ ]:
freq_tipo = {"Freq Absoluta": dados2["Tipo"].value_counts(), 
       "Freq Relativa %": dados2["Tipo"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados2["Tipo"].value_counts())}
freqtipo = pd.DataFrame(freq_tipo)
freqtipo

#### Frequência da variável `N de quartos`:

In [ ]:
freq_quartos = {"Freq Absoluta": dados2["N de quartos"].value_counts(), 
       "Freq Relativa %": dados2["N de quartos"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados2["N de quartos"].value_counts())}
freqquartos = pd.DataFrame(freq_quartos)
freqquartos

#### Frequência da variável `Preço (mil)`:

In [ ]:
dist_frequencia_classes(dados2["Preço (mil)"], nc=5)

<hr>

## C)

## **Tabela de contingência**

In [37]:
pd.crosstab(dados2['Bairro'], dados2['Tipo'], margins=True)

Tipo         Apto.  Casa  Cobt.  Sala  All
Bairro
Barrra           2     0      1     1    4
Botafogo         1     0      0     0    1
Catete           1     0      0     0    1
Centro           0     0      0     1    1
Copacabana       3     0      0     0    3
Flamengo         1     0      1     0    2
Gávea            1     0      0     0    1
Ipanema          1     0      0     0    1
Jacarepaguá      1     0      0     0    1
Lagoa            1     0      0     0    1
Laranjeiras      2     0      0     0    2
Leblon           2     0      0     0    2
Maracanã         1     0      0     0    1
Recreio          0     0      1     0    1
São Conrado      0     1      0     0    1
Tijuca           2     1      0     0    3
Vila Isabel      1     0      0     0    1
All             20     2      3     2   27

In [35]:
pd.crosstab(dados2['Bairro'], dados2['N de quartos'], margins=True)

N de quartos  0  1  2  3  >=4  All
Bairro
Barrra        1  0  1  2    0    4
Botafogo      0  0  1  0    0    1
Catete        0  1  0  0    0    1
Centro        0  1  0  0    0    1
Copacabana    0  0  2  1    0    3
Flamengo      0  1  0  0    1    2
Gávea         0  0  0  1    0    1
Ipanema       0  0  0  1    0    1
Jacarepaguá   0  0  0  0    1    1
Lagoa         0  0  0  1    0    1
Laranjeiras   0  0  2  0    0    2
Leblon        0  0  0  1    1    2
Maracanã      0  0  0  0    1    1
Recreio       0  0  0  1    0    1
São Conrado   0  0  0  0    1    1
Tijuca        0  0  2  0    1    3
Vila Isabel   0  0  1  0    0    1
All           1  3  9  8    6   27

### O número de apartamentos vendidos foi maior com valor 20, o segundo maior teve apenas 3 (Cobertura). Apartamentos são mais práticos de organizar, de limpar e você pode optar por móveis mais compactos e funcionais, espaços mais práticos acabam trazendo menos stress e maior ganho e otimização de tempo. Apartamento se torna uma ótima opção ao escolher um tipo de moradia.

<hr>

## 3- a)

#### Turma: Qualitativa nominal
#### Gênero: Qualitativa nominal
#### Idade: Quantitativa discreta
#### Alt: Quantitativa contínua
#### Peso: Quantitativa contínua
#### Filhos: Quantitativa discreta
#### Fuma: Qualitativa nominal
#### Tolr: Qualitativa ordinal
#### Exerc: Quantitativa discreta
#### Cine: Quantitativa discreta
#### OpGine: Qualitativa ordinal
#### TV: Quantitativa discreta
#### OpTV: Qualitativa ordinal

<hr>

## b)

### Turma

In [ ]:
freq_Turma = {"Freq Absoluta": dados3["Turma"].value_counts(), 
       "Freq Relativa %": dados3["Turma"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["Turma"].value_counts())}
freqTurma = pd.DataFrame(freq_Turma)
freqTurma

### Sexo

In [ ]:
freq_sexo = {"Freq Absoluta": dados3["Sexo"].value_counts(), 
       "Freq Relativa %": dados3["Sexo"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["Sexo"].value_counts())}
freqsexo = pd.DataFrame(freq_sexo)
freqsexo

### Idade

In [ ]:
dist_frequencia_classes(dados3["Idade"], nc=5)

### Alt

In [ ]:
dist_frequencia_classes(dados3["Alt"], nc=5)

### Peso

In [ ]:
dist_frequencia_classes(dados3["Peso"], nc=5)

### Filhos

In [ ]:
freq_filhos = {"Freq Absoluta": dados3["Filhos"].value_counts(), 
       "Freq Relativa %": dados3["Filhos"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["Filhos"].value_counts())}
freqFilhos = pd.DataFrame(freq_filhos)
freqFilhos

### Fuma

In [ ]:
freq_fuma = {"Freq Absoluta": dados3["Fuma"].value_counts(), 
       "Freq Relativa %": dados3["Fuma"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["Fuma"].value_counts())}
freqFuma = pd.DataFrame(freq_fuma)
freqFuma

### Toler

In [ ]:
freq_toler = {"Freq Absoluta": dados3["Toler"].value_counts(), 
       "Freq Relativa %": dados3["Toler"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["Toler"].value_counts())}
freqToler = pd.DataFrame(freq_toler)
freqToler

### Exerc

In [ ]:
freq_exerc = {"Freq Absoluta": dados3["Exerc"].value_counts(), 
       "Freq Relativa %": dados3["Exerc"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["Exerc"].value_counts())}
freqExerc = pd.DataFrame(freq_exerc)
freqExerc

### Cine

In [ ]:
freq_cine = {"Freq Absoluta": dados3["Cine"].value_counts(), 
       "Freq Relativa %": dados3["Cine"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["Cine"].value_counts())}
freqCine = pd.DataFrame(freq_cine)
freqCine

### OpCine

In [ ]:
freq_cine = {"Freq Absoluta": dados3["Cine"].value_counts(), 
       "Freq Relativa %": dados3["Cine"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["Cine"].value_counts())}
freqCine = pd.DataFrame(freq_cine)
freqCine

### TV

In [ ]:
freq_tv = {"Freq Absoluta": dados3["TV"].value_counts(), 
       "Freq Relativa %": dados3["TV"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["TV"].value_counts())}
freqaTV = pd.DataFrame(freq_tv)
freqaTV

### OpTV

In [39]:
freq_optv = {"Freq Absoluta": dados3["OpTV"].value_counts(), 
       "Freq Relativa %": dados3["OpTV"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["OpTV"].value_counts())}
freqOpTV= pd.DataFrame(freq_optv)
freqOpTV

   Freq Absoluta  Freq Relativa %  Freq Cumulativa
R             39             78.0               39
N              7             14.0               46
B              3              6.0               49
M              1              2.0               50

<hr>

## C)

In [43]:
peso = (dados3["Peso"])
altura = (dados3["Alt"])
dic = {"PESO": peso, "Altura": altura}

In [44]:
comparar = pd.DataFrame(dic)

In [45]:
comparar.sort_values(by=["PESO"],ascending=False).head(10)

    PESO  Altura
36  95.0    1.70
34  87.0    1.73
49  86.0    1.83
17  85.2    1.80
37  84.0    1.85
3   80.9    1.85
42  75.0    1.76
39  73.0    1.73
31  73.0    1.71
2   72.8    1.85

In [ ]:
dados3.sort_values(by=["Peso"],ascending=False)

#### Diante da tabela onde contém "Peso" e "Altura", podemos perceber que os 5 maiores pesos estão acima de 84 Kg, um peso preocupante em relação a idade, pois dependendo da sua altura poderá ser considerado obesidade ou sobrepeso. Com todo acesso a "fast foods" ou alimentos industrializados, os jovens vêm consumindo cada vez mais esses alimentos, que por sua vez podem acarretar a problemas de saúde com o tempo. A falta de atividade física também pode prejudicar esses jovens caso eles n pratiquem.