In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
dados1 = pd.read_csv("https://raw.githubusercontent.com/joaovictornsv/statistics-applied-to-computing/master/college-studies/data/dados1.csv", encoding="utf-8", sep =";", header=None)
dados2 = pd.read_csv("/home/vinimedeiros/Desktop/Estatistica/Statistic/Exercícios/Unidade 2/dados2.csv", encoding="utf-8", sep =";")
dados3 = pd.read_excel("/home/vinimedeiros/Desktop/Estatistica/Statistic/Exercícios/Unidade 2/dados3.xls")

In [10]:
def dist_frequencia_classes(entrada, nc='auto'):
    #função histogram do numpy para calcular as freq. absolutas e intervalos das classes
    freq_absoluta,classes= np.histogram(entrada, bins=nc) 
    freq_absoluta = freq_absoluta.astype(int)#pra transformar em int 
    #freq. relativas = freq. absolutas/no. de dados do conjunto x 100 pra forma percentual
    freq_relativa = np.around(freq_absoluta/freq_absoluta.sum()*100,decimals=2) #duas casas decimais
    #freq. cumulativa usando a função cumsum do numpy
    #frnorm = np.around(fi/(fi.sum() * np.diff(classes)),decimals=2)
    feeq_classe = np.cumsum(freq_absoluta).astype(int) #pra transformar em int 
    # o laço a seguir serve unicamente para escrever os intervalos das classes como strings
    # dentro do vetor 'classe_str'
    classe_str = []
    for i in range(len(classes)):
        if i <= len(classes)-2:
            classe_str.append('{:2.2f} |-- {:2.2f}' .format(classes[i],classes[i+1]))
        else:
            break        
    # a função retorna um dataframe, cujas linhas serão indexadas pelo vetor 'classe_str', e as 
    #colunas terão as frequências absoluta (inteira), relativa (float) e cumulativa (int) calculadas 
    return pd.DataFrame({'Classes':classe_str, 
                         'freq Absoluta': freq_absoluta,
                         'freq Relativa': freq_relativa,
                         #'frnorm':frnorm,
                         'Cumulativa': feeq_classe
                        }).set_index('Classes') # transforma a coluna 'Classes' nos indices das linhas

<hr>

## 1-

In [11]:
dados1

     0    1    2    3    4    5     6    7    8     9
0  3,5  4,0  5,5  6,0  5,0  5,5   5,0  5,5  4,0  10,0
1  6,5  9,5  4,0  7,0  7,5  3,0   4,5  5,0  2,5   6,0
2  5,0  6,5  3,5  4,5  8,5  4,0   8,0  7,0  6,0   7,5
3  8,5  6,0  9,0  6,0  6,5  7,5   5,5  6,5  8,0   8,5
4  4,5  7,5  8,0  3,0  4,0  8,0   4,5  5,5  6,0   6,0
5  7,5  3,5  3,0  7,0  1,5  4,5  10,0  5,5  2,5  10,0
6  4,0  6,5  7,5  5,5  7,0  7,5   6,0  6,5  6,5   5,5
7  6,5  5,0  5,5  7,5  8,0  6,5   5,0  7,0  6,0   5,5
8  3,0  5,0  3,5  6,0  6,5  6,0   8,0  5,5  7,5   6,0
9  2,5  7,5  9,0  6,0  6,5  3,5   4,5  7,0  5,0   5,0

In [12]:
dados = dados1.values.reshape(-1)
dados

array(['3,5', '4,0', '5,5', '6,0', '5,0', '5,5', '5,0', '5,5', '4,0',
       '10,0', '6,5', '9,5', '4,0', '7,0', '7,5', '3,0', '4,5', '5,0',
       '2,5', '6,0', '5,0', '6,5', '3,5', '4,5', '8,5', '4,0', '8,0',
       '7,0', '6,0', '7,5', '8,5', '6,0', '9,0', '6,0', '6,5', '7,5',
       '5,5', '6,5', '8,0', '8,5', '4,5', '7,5', '8,0', '3,0', '4,0',
       '8,0', '4,5', '5,5', '6,0', '6,0', '7,5', '3,5', '3,0', '7,0',
       '1,5', '4,5', '10,0', '5,5', '2,5', '10,0', '4,0', '6,5', '7,5',
       '5,5', '7,0', '7,5', '6,0', '6,5', '6,5', '5,5', '6,5', '5,0',
       '5,5', '7,5', '8,0', '6,5', '5,0', '7,0', '6,0', '5,5', '3,0',
       '5,0', '3,5', '6,0', '6,5', '6,0', '8,0', '5,5', '7,5', '6,0',
       '2,5', '7,5', '9,0', '6,0', '6,5', '3,5', '4,5', '7,0', '5,0',
       '5,0'], dtype=object)

In [13]:
lista_alunos = []
for i in range(1,101):
    lista_alunos.append(f"ALuno {i}")

In [14]:
dic_1 = {"Aluno": lista_alunos, "Notas": dados}
xxx = pd.DataFrame(dic_1)
xxx

        Aluno Notas
0     ALuno 1   3,5
1     ALuno 2   4,0
2     ALuno 3   5,5
3     ALuno 4   6,0
4     ALuno 5   5,0
..        ...   ...
95   ALuno 96   3,5
96   ALuno 97   4,5
97   ALuno 98   7,0
98   ALuno 99   5,0
99  ALuno 100   5,0

[100 rows x 2 columns]

In [15]:
dist_frequencia_classes(xxx["Notas"], nc=5)

TypeError: ufunc 'isfinite' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

<hr>

## 2 a)

In [16]:
dados2

         Bairro   Tipo N de quartos  Preço (mil)
0        Barrra  Apto.            2          165
1        Barrra  Apto.            3          240
2        Barrra  Cobt.            3          158
3        Barrra   Sala            0           90
4      Botafogo  Apto.            2          270
5        Catete  Apto.            1          250
6        Centro   Sala            1          110
7    Copacabana  Apto.            2          210
8    Copacabana  Apto.            2          200
9    Copacabana  Apto.            3          280
10     Flamengo  Apto.          >=4          330
11     Flamengo  Cobt.            1          180
12        Gávea  Apto.            3          290
13  Jacarepaguá  Apto.          >=4          320
14      Ipanema  Apto.            3          276
15        Lagoa  Apto.            3          254
16  Laranjeiras  Apto.            2          220
17  Laranjeiras  Apto.            2          219
18       Leblon  Apto.          >=4          340
19       Leblon  Apto.            3          260
20     Maracanã  Apto.          >=4          338
21      Recreio  Cobt.            3          290
22  São Conrado   Casa          >=4          430
23       Tijuca  Apto.            2          200
24       Tijuca  Apto.            2          210
25       Tijuca   Casa          >=4          370
26  Vila Isabel  Apto.            2          230

#### Bairro = Qualitativa nominal
#### Tipo = Qualitativa nominal
#### N de quartos = Quantitativa Discreta
#### Preço = Quantitativa contínua

<hr>

## B)

## **Frequências:**

#### Frequência da variável `Bairro`:

In [ ]:
freq_re = dados2["Bairro"].value_counts(normalize=True)*100

freq_bairro = {"Freq Absoluta": dados2["Bairro"].value_counts(), 
       "Freq Relativa %": dados2["Bairro"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados2["Bairro"].value_counts())}
freqbairro = pd.DataFrame(freq_bairro)
freqbairro

#### Frequência da variável `Tipo`:

In [ ]:
freq_tipo = {"Freq Absoluta": dados2["Tipo"].value_counts(), 
       "Freq Relativa %": dados2["Tipo"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados2["Tipo"].value_counts())}
freqtipo = pd.DataFrame(freq_tipo)
freqtipo

#### Frequência da variável `N de quartos`:

In [ ]:
freq_quartos = {"Freq Absoluta": dados2["N de quartos"].value_counts(), 
       "Freq Relativa %": dados2["N de quartos"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados2["N de quartos"].value_counts())}
freqquartos = pd.DataFrame(freq_quartos)
freqquartos

#### Frequência da variável `Preço (mil)`:

In [ ]:
dist_frequencia_classes(dados2["Preço (mil)"], nc=5)

<hr>

## C)

## **Tabela de contingência**

In [ ]:
pd.crosstab(dados2['Bairro'], dados2['Tipo'], margins=True)

In [ ]:
pd.crosstab(dados2['Bairro'], dados2['N de quartos'], margins=True)

<hr>

## 3- a)

#### Turma: Qualitativa nominal
#### Gênero: Qualitativa nominal
#### Idade: Quantitativa discreta
#### Alt: Quantitativa contínua
#### Peso: Quantitativa contínua
#### Filhos: Quantitativa discreta
#### Fuma: Qualitativa nominal
#### Tolr: Qualitativa ordinal
#### Exerc: Quantitativa discreta
#### Cine: Quantitativa discreta
#### OpGine: Qualitativa ordinal
#### TV: Quantitativa discreta
#### OpTV: Qualitativa ordinal

<hr>
altura e peso

## b)

### Turma

In [ ]:
freq_Turma = {"Freq Absoluta": dados3["Turma"].value_counts(), 
       "Freq Relativa %": dados3["Turma"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["Turma"].value_counts())}
freqTurma = pd.DataFrame(freq_Turma)
freqTurma

### Sexo

In [ ]:
freq_sexo = {"Freq Absoluta": dados3["Sexo"].value_counts(), 
       "Freq Relativa %": dados3["Sexo"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["Sexo"].value_counts())}
freqsexo = pd.DataFrame(freq_sexo)
freqsexo

### Idade

In [ ]:
dist_frequencia_classes(dados3["Idade"], nc=5)

### Alt

In [ ]:
dist_frequencia_classes(dados3["Alt"], nc=5)

### Peso

In [ ]:
dist_frequencia_classes(dados3["Peso"], nc=5)

### Filhos

In [ ]:
freq_filhos = {"Freq Absoluta": dados3["Filhos"].value_counts(), 
       "Freq Relativa %": dados3["Filhos"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["Filhos"].value_counts())}
freqFilhos = pd.DataFrame(freq_filhos)
freqFilhos

### Fuma

In [ ]:
freq_fuma = {"Freq Absoluta": dados3["Fuma"].value_counts(), 
       "Freq Relativa %": dados3["Fuma"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["Fuma"].value_counts())}
freqFuma = pd.DataFrame(freq_fuma)
freqFuma

### Toler

In [ ]:
freq_toler = {"Freq Absoluta": dados3["Toler"].value_counts(), 
       "Freq Relativa %": dados3["Toler"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["Toler"].value_counts())}
freqToler = pd.DataFrame(freq_toler)
freqToler

### Exerc

In [ ]:
freq_exerc = {"Freq Absoluta": dados3["Exerc"].value_counts(), 
       "Freq Relativa %": dados3["Exerc"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["Exerc"].value_counts())}
freqExerc = pd.DataFrame(freq_exerc)
freqExerc

## Cine

In [ ]:
freq_cine = {"Freq Absoluta": dados3["Cine"].value_counts(), 
       "Freq Relativa %": dados3["Cine"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["Cine"].value_counts())}
freqCine = pd.DataFrame(freq_cine)
freqCine

## OpCine

In [ ]:
freq_cine = {"Freq Absoluta": dados3["Cine"].value_counts(), 
       "Freq Relativa %": dados3["Cine"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["Cine"].value_counts())}
freqCine = pd.DataFrame(freq_cine)
freqCine

#### TV

In [ ]:
freq_tv = {"Freq Absoluta": dados3["TV"].value_counts(), 
       "Freq Relativa %": dados3["TV"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["TV"].value_counts())}
freqaTV = pd.DataFrame(freq_tv)
freqaTV

### OpTV

In [ ]:
freq_optv = {"Freq Absoluta": dados3["OpTV"].value_counts(), 
       "Freq Relativa %": dados3["OpTV"].value_counts(normalize=True)*100,
            "Freq Cumulativa": np.cumsum(dados3["OpTV"].value_counts())}
freqOpTV= pd.DataFrame(freq_optv)
freqOpTV

<hr>

## C)

In [ ]:
peso = (dados3["Peso"])
Idade = (dados3["Idade"])
dic = {"PESO": peso, "IDADE": Idade}

In [ ]:
comparar = pd.DataFrame(dic)
comparar

In [ ]:
comparar.sort_values(by=["PESO"],ascending=False).head(10)

In [ ]:
dados3.sort_values(by=["Peso"],ascending=False)