### Questão 2

In [7]:
import pandas as pd
import numpy as np

In [8]:
ser = pd.Series(np.random.randint(1, 10, 35))

In [9]:
serie = pd.DataFrame(ser)

In [44]:
df = pd.DataFrame(np.random.randint(0,34, size=(7,5)),columns=list("12345"))

In [45]:
df

    1   2   3   4   5
0  17  14   8  28  28
1  32  30  16   7   0
2  33  31  31  33  26
3  24  23   4  18   5
4  23  22  14  24  17
5  31   7  28  16  27
6  27  11   1  25   7

### Questão 3

In [71]:
import pandas as pd

In [72]:
file = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"

In [78]:
name_files = ["crim", "medv"]

In [79]:
newfile = pd.read_csv(file, usecols=name_files)

In [81]:
newfile.head()

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

### Questão 4

In [109]:
import pandas as pd

In [110]:
file = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"

In [118]:
new_file = pd.read_csv(file)
new_file.rename(columns={'Type': 'DataType'}, inplace = True)
new_file

,Manufacturer,Model,DataType,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

### Questão 5

In [ ]:
import panda as pd

In [161]:
file = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
new_file = pd.read_csv(file)
new_file.info()
print("Valor nulos:",new_file.isnull().sum().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        89 non-null     object
 1   Model               92 non-null     object
 2   Type                90 non-null     object
 3   Min.Price           86 non-null     float64
 4   Price               91 non-null     float64
 5   Max.Price           88 non-null     float64
 6   MPG.city            84 non-null     float64
 7   MPG.highway         91 non-null     float64
 8   AirBags             87 non-null     object
 9   DriveTrain          86 non-null     object
 10  Cylinders           88 non-null     object
 11  EngineSize          91 non-null     float64
 12  Horsepower          86 non-null     float64
 13  RPM                 90 non-null     float64
 14  Rev.per.mile        87 non-null     float64
 15  Man.trans.avail     88 non-null     object
 16  Fuel.tank.capacity  85 non-null     float64
 17  Passengers          91 non-null     float64
 18  Length              89 non-null     float64
 19  Wheelbase           92 non-null     float64
 20  Width               87 non-null     float64
 21  Turn.circle         88 non-null     float64
 22  Rear.seat.room      89 non-null     float64
 23  Luggage.room        74 non-null     float64
 24  Weight              86 non-null     float64
 25  Origin              88 non-null     object
 26  Make                90 non-null     object
dtypes: float64(18), object(9)
memory usage: 19.7+ KB
Valor nulos: 138

### Questão 6

In [11]:
file = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
new_file = pd.read_csv(file)
new_file

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

In [14]:
print(pd.isnull(new_file).sum().max())
print("Coluna com mais valores ausentes:",pd.isnull(new_file).sum().idxmax())

Manufacturer          True
Model                 True
Type                  True
Min.Price             True
Price                 True
Max.Price             True
MPG.city              True
MPG.highway           True
AirBags               True
DriveTrain            True
Cylinders             True
EngineSize            True
Horsepower            True
RPM                   True
Rev.per.mile          True
Man.trans.avail       True
Fuel.tank.capacity    True
Passengers            True
Length                True
Wheelbase             True
Width                 True
Turn.circle           True
Rear.seat.room        True
Luggage.room          True
Weight                True
Origin                True
Make                  True
dtype: bool
Coluna com mais valores ausentes: Luggage.room

### Questão 7

In [193]:
new_file = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
new_file

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [199]:
new_file = pd.DataFrame(new_file["a"])
new_file

    a
0   0
1   5
2  10
3  15

In [200]:
new_file = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
new_file

    e   b   c   d   a
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19