<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png" alt="imagem" width="200">

## `Utilizando Series a partir de Listas:`

In [5]:
import pandas as pd

In [ ]:
notas = pd.Series([7.6 , 5.0, 8.5, 9.5, 6.5])

In [ ]:
lst_nomes = ["Bob", "Dayse", "Bill", "Cris", "Jimi"]

In [ ]:
lst_matriculas = ["M02", "M05", "M13", "M14", "M19"]

In [ ]:
alunos = pd.Series(lst_nomes,index=lst_matriculas)

In [ ]:
print(notas); print("----------------"); print(alunos)

## `Criando Series a partir de Dicionários:`

In [13]:
dic_alunos = {'M02':'Bob','M05':'Dayse','M13':'Bill',
'M14':'Cris','M19':'Jimi'}

In [14]:
alunos = pd.Series(dic_alunos)

In [15]:
alunos

M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

## Propriedades das Series

In [2]:
#P02: Propriedades básicas das Series
import pandas as pd

In [3]:
#cria a Series "alunos"
alunos = pd.Series({'M02':'Bob','M05':'Dayse','M13':'Bill',
'M14':'Cris','M19':'Jimi'})

In [4]:
#atribui nomes p/ os vetores de dados e rótulos
alunos.name = "alunos"
alunos.index.name = "matrículas"

In [5]:
#recupera e imprime as propriedades
alunos

matrículas
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
Name: alunos, dtype: object

* size : tamanho da Series (número de elementos);
* values : vetor de dados;
* index : vetor de rótulos;
* name : nome do vetor de dados;
* index.name : nome do vetor de rótulos;
* index.dtype : dtype do vetor de rótulos.

In [14]:
tamanho = alunos.size
dados = alunos.values
rotulos = alunos.index
alunos_tipo = type(alunos)
alunos_dtype = alunos.dtype
alunos_idx_dtype = alunos.index.dtype

In [15]:
print('número de elementos: ', tamanho)
print('vetor de dados: ', dados)
print('vetor de rótulos: ', rotulos)
print('tipo (type): ', alunos_tipo)
print('dtype da Series:', alunos_dtype)
print('dtype do vetor de rótulos:', alunos_idx_dtype)

número de elementos:  5
vetor de dados:  ['Bob' 'Dayse' 'Bill' 'Cris' 'Jimi']
vetor de rótulos:  Index(['M02', 'M05', 'M13', 'M14', 'M19'], dtype='object')
tipo (type):  <class 'pandas.core.series.Series'>
dtype da Series: object
dtype do vetor de rótulos: object

### `Indexação`

A pandas permite o emprego de três
diferentes técnicas: indexação tradicional, fatiamento e indexação
booleana.

#### Tradicional

exemplo[0]

#### Fatiamento

exemplos[i:j]
exemplos[i:]
exemplos[:j]
exemplos[-k:]
exemplos[i:j:k]
exemplos[[lista]]

#### Booleana

In [7]:
#Indexação booleana
import pandas as pd

In [8]:
#cria as Series "notas" e "alunos"
notas = pd.Series([7.6, 5.0, 8.5, 9.5, 6.4])
alunos = pd.Series({'M02':'Bob','M05':'Dayse','M13':'Bill',
'M14':'Cris','M19':'Jimi'})

In [19]:
#obtém os índices dos alunos aprovados
idx_aprovados = notas[notas >= 7].index

In [20]:
#imprime os alunos aprovados
print('relação de alunos aprovados:')
print('---------------------------')
print(alunos[idx_aprovados])

relação de alunos aprovados:
---------------------------
M02     Bob
M13    Bill
M14    Cris
dtype: object

### `Busca`

O próximo programa mostra como verificar se determinados
rótulos ou valores estão presentes em uma Series.

In [21]:
#P04: Busca em Series
import pandas as pd

In [22]:
#cria a Series "alunos"
alunos = pd.Series({'M02':'Bob','M05':'Dayse','M13':'Bill',
'M14':'Cris','M19':'Jimi'})

In [23]:
#testa se rótulos fazem parte de uma Series
tem_M13 = 'M13' in alunos
tem_M99 = 'M99' in alunos
print("existe o rótulo 'M13'? -> ",tem_M13)
print("existe o rótulo 'M99'? -> ",tem_M99)
print('---------------------------')

existe o rótulo 'M13'? ->  True
existe o rótulo 'M99'? ->  False
---------------------------

In [24]:
#testa se valor faz parte de uma Series
tem_Bob = alunos.isin(['Bob'])
print("existe o valor 'Bob'")
print(tem_Bob)

existe o valor 'Bob'
M02     True
M05    False
M13    False
M14    False
M19    False
dtype: bool

### `Modificação`

No próximo exemplo, apresentamos a forma básica para inserir, modificar e excluir elementos.

In [6]:
#P05: Inserindo, Alterando e Removendo elementos de Series
import pandas as pd

In [7]:
#cria a Series "alunos"
alunos = pd.Series({'M02':'Bob','M05':'Dayse','M13':'Bill',
'M14':'Cris','M19':'Jimi'})

In [8]:
print('Series original:')
print(alunos)

Series original:
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

In [9]:
#insere o aluno de matrícula M55, Rakesh
alunos['M55'] = 'Rakesh'

In [10]:
#altera os nomes Bill, Cris e Jimi para Billy, Cristy e Jimmy
alunos['M13'] = 'Billy'
alunos[['M14','M19']] = ['Cristy','Jimmy']

In [11]:
#remove o aluno de matrícula M02 (Bob)
alunos = alunos.drop('M02')

In [12]:
print('---------------------------')
print('Series após as alterações:')
print(alunos)

---------------------------
Series após as alterações:
M05     Dayse
M13     Billy
M14    Cristy
M19     Jimmy
M55    Rakesh
dtype: object

## `COMPUTAÇÃO VETORIZADA`

In [14]:
#P07: Operações aritméticas com computação vetorizada
import pandas as pd
import numpy as np

In [15]:
#cria as Series s1 e s2
s1 = pd.Series([2,4,6])
s2 = pd.Series([1,3,5])
print('s1:'); print(s1)
print('s2:'); print(s2)

s1:
0    2
1    4
2    6
dtype: int64
s2:
0    1
1    3
2    5
dtype: int64

In [16]:
#efetua as operações aritméticas
print('---------------------------')
print('s1 * 2')
print(s1 * 2)
print('---------------------------')
print('s1 + s2')
print(s1 + s2)
print('---------------------------')
print('raiz quadrada dos elementos de s1')
print(np.sqrt(s1)) #com a Numpy!

---------------------------
s1 * 2
0     4
1     8
2    12
dtype: int64
---------------------------
s1 + s2
0     3
1     7
2    11
dtype: int64
---------------------------
raiz quadrada dos elementos de s1
0    1.414214
1    2.000000
2    2.449490
dtype: float64

### `O valor NaN`

<img src="https://i.imgur.com/2uTUmKD.png" alt="imagem" width="400">

O programa a seguir examina o comportamento da pandas ao
realizar uma operação aritmética (soma) envolvendo estas duas
Series que não possuem os rótulos inteiramente compatíveis.

In [17]:
#P08: o valor NaN
import pandas as pd

In [18]:
verde = pd.Series({'BR':1, 'FR': 0, 'IT':1, 'UK': 0})
azul = pd.Series({'AR':1, 'BR':1, 'FR': 1, 'IT':0, 'UK': 1})

In [58]:
soma = verde + azul
print("soma:")
print(soma)
print('---------------------------')
print("isnull(soma):")
print(pd.isnull(soma))

soma:
AR    NaN
BR    2.0
FR    1.0
IT    1.0
UK    1.0
dtype: float64
---------------------------
isnull(soma):
AR     True
BR    False
FR    False
IT    False
UK    False
dtype: bool

### `ÍNDICES DATETIME`

<img src="https://i.imgur.com/ZQ6TeUF.png" alt="imagem" width="450">

O programa a seguir mostra como podemos criar essa série
temporal, configurando explicitamente o vetor de índices para que
ele possua o tipo data ( dtype datetime64 ). Afinal de contas,
essa é a semântica correta da nossa série de registro temperaturas!

In [1]:
#P09: Índices datetime
import pandas as pd

In [2]:
#(1)-cria a série temporal
dias = ['10/02/2019', '11/02/2019','12/02/2019','13/02/2019',
'14/02/2019','15/02/2019']
temp_max = [31,35,34,28,27,27]
serie_temporal = pd.Series(temp_max,index=dias)

In [4]:
#(2)-converte o tipo do índice para datetime e imprime a série
serie_temporal.index = pd.to_datetime(serie_temporal.index, format='%d/%m/%Y')
print(serie_temporal)

2019-02-10    31
2019-02-11    35
2019-02-12    34
2019-02-13    28
2019-02-14    27
2019-02-15    27
dtype: int64

### `INDEXAÇÃO HIERÁRQUICA`

<img src="https://i.imgur.com/OERWBbN.png" alt="imagem" width="400">

In [27]:
#P10: Índexação hierárquica
import pandas as pd

In [28]:
moedas = ['Peso', 'Real', 'Euro', 'Euro', 'Libra']
paises = [['América','América','Europa','Europa','Europa'],
['AR','BR','FR','IT','UK']]

In [29]:
paises = pd.Series(moedas, index=paises)

In [30]:
print(paises) #imprime toda a Series
print('----------------------')
print(paises['América']) #{AR: Peso, BR:Real}
print('----------------------')
print(paises[:,'IT']) #{Europa: Euro}
print('----------------------')
print(paises['Europa','IT']) #Euro

América  AR     Peso
         BR     Real
Europa   FR     Euro
         IT     Euro
         UK    Libra
dtype: object
----------------------
AR    Peso
BR    Real
dtype: object
----------------------
Europa    Euro
dtype: object
----------------------
Euro

## *A ESTRUTURA DE DADOS DATAFRAME*

DataFrame é a ED pandas utilizada para representar dados
tabulares em memória, isto é, dados dispostos em linhas e colunas.
Trata-se da ED mais importante para ciência de dados, responsável
por disponibilizar um amplo e sofisticado conjunto de métodos
para a importação e o pré-processamento de grandes bases de
dados.

### COMO CRIAR DATAFRAMES?

<img src="https://i.imgur.com/38mtUTq.png" alt="imagem" width="400">

In [5]:
#cria o DataFrame
dados = {'nome': ['Argentina','Brasil','França','Itália',
'Reino Unido'],
'continente': ['América','América','Europa','Europa',
'Europa'],
'extensao': [2780,8511,644,301,244],
'corVerde': [0,1,0,1,0]
}

In [6]:
siglas = ['AR','BR','FR','IT','UK']
paises = pd.DataFrame(dados,index=siglas)

In [29]:
#imprime o DataFrame
print(paises)

           nome continente  extensao  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Itália     Europa       301         1
UK  Reino Unido     Europa       244         0

Todo DataFrame é um objeto do tipo
pandas.core.frame.DataFrame que possui as seguintes
propriedades básicas:

* shape : formato do DataFrame, ou seja, o seu número de
* linhas ( shape[0] ) e de colunas ( shape[1] );
* index : lista com os rótulos das linhas;
* columns : lista com os rótulos das colunas;
* dtypes : retorna uma Series com os dtypes de cada
* coluna;
* index.dtype : dtype dos rótulos das linhas.

O programa listado a seguir mostra como trabalhar com estas
propriedades.

In [34]:
#P12: Propriedades básicas dos DataFrames
import pandas as pd

In [39]:
#cria o DataFrame
dados = {'nome': ['Argentina','Brasil','França','Itália',
'Reino Unido'],
'continente': ['América','América','Europa','Europa',
'Europa'],
'extensao': [2780,8511,644,301,244],
'corVerde': [0,1,0,1,0]}
siglas = ['AR','BR','FR','IT','UK']
paises = pd.DataFrame(dados,index=siglas)

           nome continente  extensao  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Itália     Europa       301         1
UK  Reino Unido     Europa       244         0

In [60]:
#recupera e imprime as propriedades
print(paises)
print('-------------------------------------------------')
num_linhas = paises.shape[0]
num_colunas = paises.shape[1]
indices = paises.index
colunas = paises.columns
paises_tipo = type(paises)
paises_dtypes = paises.dtypes
paises_idx_dtype = paises.index.dtype
print('número de linhas: ', num_linhas)
print('número de colunas: ', num_colunas)
print('rótulos das linhas: ', indices)
print('rótulos das colunas: ', colunas)
print('tipo (type): ',paises_tipo)
print('dtypes das colunas:\n', paises_dtypes)
print('dtype dos rótulos das linhas:', paises_idx_dtype)

           nome continente  extensao  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Itália     Europa       301         1
UK  Reino Unido     Europa       244         0
-------------------------------------------------
número de linhas:  5
número de colunas:  4
rótulos das linhas:  Index(['AR', 'BR', 'FR', 'IT', 'UK'], dtype='object')
rótulos das colunas:  Index(['nome', 'continente', 'extensao', 'corVerde'], dtype='object')
tipo (type):  <class 'pandas.core.frame.DataFrame'>
dtypes das colunas:
 nome          object
continente    object
extensao       int64
corVerde       int64
dtype: object
dtype dos rótulos das linhas: object

### `TÉCNICAS PARA CONSULTA E MODIFICAÇÃO DE DADOS`
#### Indexação
Utilizamos colchetes [ ] para indexar elementos de um
DataFrame.

Veja que a pandas disponibiliza quatro diferentes
métodos para esta operação: iloc() , iat() , loc() e at() .
Os dois primeiros são utilizados para indexação baseada na
posição da linha (número inteiro), enquanto os dois últimos são
para acessar linhas através de seus rótulos.

#### `INDEX = INDÍCES DAS LINHAS, COLUMN = ÍNDICES DAS COLUNAS`

<img src="https://i.imgur.com/FWjcsQv.png" alt="imagem" width="500">
O fatiamento de DataFrames pode ser realizado com o uso dos
métodos iloc( ) (por posição) e loc( ) (por rótulo).

### `Busca`
O próximo programa mostra:
1. Como verificar se um determinado rótulo de linha ou coluna
existe em um DataFrame;
2. Como verificar se um determinado valor está armazenado
em alguma coluna do DataFrame.

In [22]:
#P13: Busca em DataFrames
import pandas as pd

In [26]:
#cria o DataFrame
dados = {'nome': ['Argentina','Brasil','França','Itália',
'Reino Unido'],
'continente': ['América','América','Europa','Europa',
'Europa'],
'extensao': [2780,8511,644,301,244],
'corVerde': [0,1,0,1,0]}
siglas = ['AR','BR','FR','IT','UK']
paises = pd.DataFrame(dados,index=siglas)

In [27]:
#testa se um dado rótulo de linha existe
tem_BR = 'BR' in paises.index
tem_US = 'US' in paises.index
print("existe o rótulo 'BR? -> ",tem_BR)
print("existe o rótulo 'US'? -> ",tem_US)

existe o rótulo 'BR? ->  True
existe o rótulo 'US'? ->  False

In [28]:
#testa se um dado rótulo de coluna existe
tem_corVerde = 'corVerde' in paises.columns
tem_corAzul = 'corAzul' in paises.columns
print("existe o rótulo 'corVerde? -> ",tem_corVerde)
print("existe o rótulo 'corAzul'? -> ",tem_corAzul)
print('---------------------------')

existe o rótulo 'corVerde? ->  True
existe o rótulo 'corAzul'? ->  False
---------------------------

In [29]:
#testa se valor faz parte de uma coluna
tem_Brasil = paises['nome'].isin(['Brasil'])
print("existe o valor 'Brasil' na coluna 'nome'?")
print(tem_Brasil)

existe o valor 'Brasil' na coluna 'nome'?
AR    False
BR     True
FR    False
IT    False
UK    False
Name: nome, dtype: bool

Para verificar se um rótulo de linha ou de coluna existe em um
DataFrame, você deve aplicar o operador in sobre a lista de
rótulos de linha ou de colunas, respectivamente (propriedades
index e columns ).

### `Modificação`
Este tópico apresenta as técnicas básicas para inserir e alterar
linhas de um DataFrame e para modificar o conteúdo de alguma célula.

In [13]:
#P14: Modificação de DataFrame
import pandas as pd

In [14]:
#cria o DataFrame
dados = {'nome': ['Argentina','Brasil','França','Itália',
'Reino Unido'],
'continente': ['América','América','Europa','Europa',
'Europa'],
'extensao': [2780,8511,644,301,244],
'corVerde': [0,1,0,1,0]}
siglas = ['AR','BR','FR','IT','UK']
paises = pd.DataFrame(dados,index=siglas)

In [15]:
#insere o país Japão (JP)
paises.loc['JP']= {'nome': 'Japão',
'continente': 'Ásia',
'extensao': 372,
'corVerde': 0}

In [16]:
#altera a extensão do Brasil
paises.at['BR','extensao']=8512

In [17]:
#remove a Argentina e o Reino Unido
paises = paises.drop(['AR','UK'])
print('DataFrame após as alterações:')
print(paises)

DataFrame após as alterações:
      nome continente  extensao  corVerde
BR  Brasil    América      8512         1
FR  França     Europa       644         0
IT  Itália     Europa       301         1
JP   Japão       Ásia       372         0

## *TRABALHANDO COM ARQUIVOS*
Tipicamente, os dados dos DataFrames são obtidos a partir de
arquivos ou tabelas de banco de dados.
### `Importação de arquivo CSV`
Podemos realizar a leitura de arquivos CSV (comma-separated values — valores separados por vírgula) e de outros tipos de
arquivos baseados em caracteres delimitadores utilizando o
método read_csv().
A seguir, apresenta-se um
programa que importa o conteúdo do arquivo para um
DataFrame, definindo ainda que a coluna sigla será utilizada
como índice de linha.

In [19]:
#P15: Importação de CSV padrão para um DataFrame
import pandas as pd

`paises = pd.read_csv("c:/bases/paises.csv",index_col="sigla")
print(paises)`

<img src="https://i.imgur.com/DAL6S9u.png" alt="imagem" width="500">

O único parâmetro que
utilizamos foi index_col , para permitir que a coluna sigla
fosse transformada no índice de linha.
O método read_csv() é extremamente flexível, possuindo
uma série de parâmetros que podem ser utilizados para permitir a
importação de arquivos CSV estruturados de diferentes maneiras.
Os principais parâmetros são relacionados e explicados a seguir:
sep : caractere ou expressão regular utilizada para separar
campos em cada linha;

* skiprows : número de linhas no início do arquivo que dvem ser ignoradas;
* skip_footer : número de linhas no final do arquivo que devem ser ignoradas;
* encoding : padrão de codificação do arquivo. A codificação default da pandas é utf-8. Se o seu arquivo estiver codificado no formato ANSI, você deverá utilizar encoding='ansi' . Para obter uma lista completa dos encodings;
* header : número da linha que contém o cabeçalho (default=0). Se não houver cabeçalho, deve-se especificar header=None ou passar uma lista de nomes através do parâmetro names ;
* names : permit especificar uma lista de nomes para as colunas;
* index_col : permite que uma das colunas seja transformada em índice de linhas;
* na_values : sequência de valores que deverão ser substituídos por NA . Útil para transformação de dados;
* thousands : definição do separador de milhar, por exemplo . ou , ;
* squeeze : caso o arquivo CSV possua apenas uma coluna, é possível fazer com que ele seja importado para uma Series em vez de um DataFrame, bastando para isso especificar squeeze=True .

Veja que o arquivo usa ponto e vírgula ( ; ) como separador e
não possui uma linha de cabeçalho. Para importá-lo e definir uma
linha de cabeçalho, basta fazer da seguinte forma:

In [1]:
#P16: Importação de CSV sem cabeçalho e com ";" como separador
import pandas as pd

notas = pd.read_csv("c:/bases/notas.csv", sep=";",

names=['matricula','nota1','nota2'])

print(notas)

Saída:

matricula nota1 nota2                                                                       
0 M0012017 9.8 9.5                                                                    
1 M0022017 5.3 4.1                                                                   
2 M0032017 2.5 8.0                                                                   
3 M0042017 7.5 7.5                                                                   

O parâmetro sep foi utilizado para definir ; como
separador, enquanto names foi empregado para definir os
cabeçalhos das colunas. Desta vez, não utilizamos o parâmetro
index_col e, por consequência, os índices de linha foram
definidos como números inteiros. Para que fosse possível colocar
matrículas como índices de linha, bastaria ter feito:
index_col='matricula' .

dia gols                                                                                              
05/06/2019 1                                                                                               
09/06/2019 0                                                                                              
16/06/2019 5                                                                                              
19/06/2019 2                                                                                              
23/06/2019 1                                                                                              
27/06/2019 3                                                                                              
30/06/2019 0                                                                                              

Veja que esses dados correspondem a uma sequência de
valores registrados em incrementos de tempo. Ou seja, eles
representam uma série temporal. Sendo assim, nada mais justo do
que importá-los para uma Series em vez de um DataFrame. Esta
operação é bem simples com a pandas:

In [ ]:
#P17: Importação de arquivo com série temporal
import pandas as pd

#importa o arquivo para uma Series
serie_gols = pd.read_csv("c:/bases/gols.txt", sep=" ",
squeeze=True, index_col=0)

#converte o tipo do índice para datetime e imprime a série
serie_gols.index = pd.to_datetime(serie_gols.index,
format='%d/%m/%Y')
print(serie_gols)

Saída:

dia                                                                                              
2019-06-05 1                                                                                              
2019-06-09 0                                                                                              
2019-06-16 5                                                                                              
2019-06-19 2                                                                                              
2019-06-23 1                                                                                              
2019-06-27 3                                                                                              
2019-06-30 0                                                                                              
Name: gols, dtype: int64

Desta vez, três parâmetros foram utilizados no método
read_csv() :
* sep=" " : para indicar que o separador é espaço em
branco.
* squeeze=True : para retornar uma Series em vez de um
DataFrame, já que, por padrão, o método read_csv()
sempre retorna um DataFrame.
* index_col=0 : para indicar que a primeira coluna do
arquivo ( dia ) deverá ser usada para formar o vetor de
rótulos da Series. Por consequência, os gols serão usados no
vetor de rótulos.

MÉTODO READ_TABLE()

A pandas disponibiliza ainda um outro método para a leitura
de arquivos separados por delimitador, denominado
read_table() . Este método possui os mesmos parâmetros
de read_csv() . A única diferença entre os dois métodos é
que o read_csv() tem a vírgula , como separador padrão,
enquanto read_table() utiliza a tabulação \t .

### `Importação de planilha Excel`

<img src="https://i.imgur.com/123vVa7.png" alt="imagem" width="400">

Podemos importar esta planilha para um DataFrame pandas de
maneira trivial, utilizando o método read_excel()

#P18: Importação de planilha Excel

import pandas as pd

cidades = pd.read_excel("c:/bases/capitais.xlsx")

print(cidades)

### Saída do programa:

<img src="https://i.imgur.com/OBDesDY.png" alt="imagem" width="400">

### `Importação de arquivo JSON`

JSON (JavaScript Object Notation) é um modelo para
armazenamento e transmissão de informações no formato texto.
Apesar de muito simples, é o mais utilizado por aplicações Web
devido à sua capacidade de estruturar informações de forma
compacta e autodescritiva. A listagem a seguir apresenta um
exemplo de arquivo no formato JSON. O arquivo, denominado
notas.json , contém as matrículas de quatro alunos e as notas
por eles obtidas em duas provas (os dados são os mesmos do
arquivo notas.csv , apresentado previamente, porém agora
estruturados no formato JSON).    

<img src="https://i.imgur.com/8NJzlxA.png" alt="imagem" width="250">

* Importar o arquivo JSON para um objeto em memória,
utilizando o pacote json do Python padrão.
* Transferir os dados do objeto para um DataFrame.

In [ ]:
#P19: Importação de arquivo JSON
import pandas as pd
import json

#(1)-Importa o arquivo JSON para memória

with open("c:/bases/notas.json") as f:

    j_notas = json.load(f)

#(2)-Transfere as informações para um DataFrame

notas = pd.DataFrame(j_notas, columns=['matricula','notas'])

print(notas)

<img src="https://i.imgur.com/tShhrY3.png" alt="imagem" width="250">

* Na primeira parte temos a "receita de bolo" para a leitura de
arquivos JSON, que consiste em utilizar o método load()
do pacote json . Ao ser chamado, este método faz com
que o arquivo JSON inteiro seja carregado para um objeto
em memória (que no nosso programa, foi chamado de
j_notas ).
* Na segunda parte, transfere-se o conteúdo do objeto JSON
em memória para um DataFrame. É preciso passar duas
informações para o construtor padrão: o objeto JSON
( j_notas ) e a relação de chaves do objeto que desejamos
mapear para colunas no DataFrame (utilizando o
parâmetro columns ).

### `Gravação de arquivos`
Se você quiser gravar o conteúdo de um DataFrame em
memória para um arquivo CSV, deverá utilizar o método
to_csv() .

#P20: Salva o conteúdo de um DataFrame em um CSV.
import pandas as pd

#cria o DataFrame

dados = {'codigo': [1001,1002,1003,1004,1005],'nome': ['Leite','Café','Biscoito','Chá','Torradas']                     
        }                                                                                                               
produtos = pd.DataFrame(dados)

#salva o seu conteúdo para um arquivo
produtos.to_csv("C:/bases/produtos.csv", sep="\t", index=False)

Se você quiser exportar o DataFrame para uma planilha Excel,
poderá utilizar o método to_excel() . Sua forma básica de
utilização é bem simples, como mostra-se a seguir:

produtos.to_excel("C:/bases/produtos.xlsx", index=False)

### **RANQUEAMENTO E ORDENAÇÃO**

<img src="https://i.imgur.com/FIqmdiE.png" alt="imagem" width="350">

Note que o DataFrame está ordenado pelo número da raia, o
que atrapalha a identificação do vencedor da prova! No próximo
programa, mostramos como os métodos sort_values() e
rank() podem ser utilizados para nos ajudar a resolver este
problema. O primeiro método serve para ordenar o DataFrame e o
segundo para produzir um ranqueamento.

In [5]:
#P27 Métodos sort_values() e rank()
import pandas as pd

In [6]:
#1-cria o DataFrame da prova de 50m
dados = {"nadador": ["Simonas Bilis",
"Benjamin Proud",
"Anthony Ervin",
"Florent Manaudou",
"Andriy Hovorov",
"Nathan Adrian",
"Bruno Fratus",
"Brad Tandy"],
"nacionalidade": ["Lituânia",
"Grã-Bretanha",
"Estados Unidos",
"França",
"Ucrânia",
"Estados Unidos",
"Brasil",
"África do Sul"],
"tempo": [22.08,
21.68,
21.40,
21.41,
21.74,
21.49,
21.79,
21.79]
}
raias = list(range(1,9))
prova50m = pd.DataFrame(dados, index=raias)
prova50m.index.name = 'raia'

In [7]:
#2-ordena pelo tempo de forma crescente
prova50m = prova50m.sort_values(by="tempo")
print("* * resultado final ordenado por tempo:")
print(prova50m)

* * resultado final ordenado por tempo:
               nadador   nacionalidade  tempo
raia
3        Anthony Ervin  Estados Unidos  21.40
4     Florent Manaudou          França  21.41
6        Nathan Adrian  Estados Unidos  21.49
2       Benjamin Proud    Grã-Bretanha  21.68
5       Andriy Hovorov         Ucrânia  21.74
7         Bruno Fratus          Brasil  21.79
8           Brad Tandy   África do Sul  21.79
1        Simonas Bilis        Lituânia  22.08

In [8]:
#3 - gera os rankings
resultado_por_raia = prova50m['tempo'].rank(method="min")
print("\n* * posição de cada nadador (por raia):")
print(resultado_por_raia)

* * posição de cada nadador (por raia):
raia
3    1.0
4    2.0
6    3.0
2    4.0
5    5.0
7    6.0
8    6.0
1    8.0
Name: tempo, dtype: float64

Agora uma explicação detalhada sobre o programa. Mais uma
vez, ele está dividido em três partes. A primeira trata simplesmente
de criar e imprimir o DataFrame. O comando
prova50m.index.name = 'raia' é usado para atribuir o rótulo
raia à coluna que armazena o índice.

A segunda parte apresenta o método sort_values() . Este
método serve para ordenar o DataFrame por uma ou mais colunas,
que devem ser especificadas no parâmetro by . Neste exemplo,
by="tempo" foi utilizado para gerar uma ordenação ascendente
pela coluna tempo . Uma observação muito importante é que se
você quiser mudar de fato o DataFrame (ou seja, ordená-lo de
verdade em vez de apenas exibir as suas linhas ordenadas),
precisará fazer uso de um comando de atribuição:
prova50m = prova50m.sort_values(by="tempo")
Alguns comentários adicionais sobre o método
sort_values() :

* A ordenação default é ascendente. Para ordenar de forma
descendente, você deve utilizar o parâmetro
ascending=False .
* Para ordenar por mais de uma coluna, é preciso especificálas
em uma lista. Por exemplo, by=
["tempo","nacionalidade"] faria com que a pandas
realizasse a ordenação por tempo (primeiro critério) e, em
casos de empate, por país (segundo critério). Da mesma
maneira, para indicar explicitamente o tipo de ordenação
de cada campo, use uma lista, como ascending=
[True,False] .

A terceira e última parte do programa apresenta o método
rank() que serve para gerar uma Series contendo ranking de
valores:

resultado_por_raia = prova50m['tempo'].rank(method="min")

* O comando apresentado cria o ranqueamento com base
nos valores da coluna tempo . Veja que a saída do
programa mostra que o nadador da raia 3 ficou em
primeiro no ranqueamento (menor tempo), o da raia 4 em
segundo e assim por diante.
* O parâmetro method="min" serve para especificar o
procedimento a ser adotado para o tratamento de empates.
Neste exemplo, os nadadores das raias 7 e 8 empataram em
sexto lugar e method="min" faz com que a posição 6 seja
atribuída para ambos. Outros valores possíveis seriam
method="max" (7 seria atribuído para ambos),
method="average" (colocaria 6.5 em ambos).
* Para gerar um ranqueamento por ordem decrescente de
valores, basta empregar o parâmetro ascending=False.